.sep__cta {
	background: var(--color-primary-dark-violet) url('../../assets/bg-boost-desktop.svg') no-repeat center;
	padding: 2rem;
}

.sep__cta-call h3 {
	color: white;
	text-align: center;
	margin-bottom: 1rem;
}

.sep__cta-button_center {
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 690px) {
	.sep__cta {
		background: var(--color-primary-dark-violet) url('../../assets/bg-boost-mobile.svg') no-repeat center;
		padding: 4rem;
	}
}