.sep__button-default_cyan {
	padding: .5rem 1rem;
	color: white;
	background: var(--color-primary-cyan);
	font-weight: 500;
	border: none;
	cursor: pointer;
}

.sep__button-default_violet {
	padding: .5rem 1rem;
	color: white;
	background: var(--color-primary-dark-violet);
	font-weight: 500;
	border: none;
}


.sep__button-default_cyan:hover {
	background: var(--color-primary-cyan-hover);
    transition: 0.5s;
}